apiVersion: v1
kind: Service
metadata:
  name: red-service
  namespace: webapp
spec:
  type: ClusterIP
  selector:
    app: red-server
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: http

